<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        All posts
        <a href="/posts/new" class="btn btn-success">Add new</a>
      </h1>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @list_of_posts.each do |post| %>
        <a href="<%= post_path(post.id) %>" class="related-post">
          <span class="title"><%= post.title %></span>
        </a>
      <% end %>
    </div>
  </div>
</div>
